/* Import from the UIkit.css file */
:root {
  color-scheme: light dark;
  --primary-color: #5182FF;
  --white-color: #FFFFFF;
  --yellow-color: #FFC107;
  --green-color: #009C8E;
  --background-color: #F7F7F7;
  --background-color-secondary: var(--white-color);
  --body-color: #747474;
  --body-color-secondary: #000;
  --link-color: var(--primary-color);
  --table-title-color: var(--primary-color);
  --titles-color: #333;
  --inactive-tab-color: var(--white-color);
  --inactive-tab-text-color: var(--body-color-secondary);
  --active-tab-color: var(--primary-color);
  --active-tab-text-color: var(--white-color);
  --tab-radius: 5px;
  --tab-box-shadow: 0px 0px 32px 0px rgba(187, 187, 187, 0.25);
  --transition-duration: 500ms;
  --list-title-color: var(--yellow-color);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #7090FD;
    --white-color: #FFFFFF;
    --yellow-color: #FFC107;
    --green-color: #009C8E;
    --background-color: #2A2A2A;
    --background-color-secondary: #343434;
    --body-color: #D5D5D5;
    --body-color-secondary: #F9F9F9;
    --link-color: var(--primary-color);
    --table-title-color: var(--primary-color);
    --titles-color: var(--white-color);
    --inactive-tab-color: var(--background-color-secondary);
    --inactive-tab-text-color: #ECECEC;
    --active-tab-color: var(--primary-color);
    --active-tab-text-color: #F9F9F9;
    --tab-radius: 5px;
    --tab-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
    --transition-duration: 500ms;
    --list-title-color: var(--yellow-color);
  }
}

/* Keyframes + Animations */
@keyframes fadeIn {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes slideInTop {
  from { 
    opacity: 0;
    /* height: 0; */
    transform: translateY(-100%);
  }
  to { 
    opacity: 1;
    /* height: auto; */
    transform: translateY(0);
  }
}

@keyframes slideOutTop {
  from { 
    opacity: 1;
    height: auto;
    transform: translateY(0);
  }
  to { 
    opacity: 0;
    height: 0;
    transform: translateY(-20%);
  }
}

@keyframes slideInLeft {
  from { 
    opacity: 0;
    transform: translateX(-10%);
  }
  to { 
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from { 
    opacity: 1;
    transform: translateX(0);
  }
  to { 
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes slideInBottom {
  from { 
    opacity: 0;
    transform: translateY(10%);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutBottom {
  from { 
    opacity: 1;
    transform: translateY(0);
  }
  to { 
    opacity: 0;
    transform: translateY(-10%);
  }
}

html {
  /* 1 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  background: var(--background-color);
  color: var(--body-color);
}

body {
  margin: 0;
  line-height: 1.7;
}

a:active,
a:hover {
  outline: none;
}

a,
.uk-link {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link,
.uk-link-toggle:focus .uk-link {
  color: #0f6ecd;
  text-decoration: underline;
}

.uk-text-bold {
  color: var(--titles-color);
}

b,
strong {
  font-weight: bolder;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--titles-color);
}

/* ========================================================================
   Component: Table
 ========================================================================== */
/*
 * 1. Remove most spacing between table cells.
 * 2. Behave like a block element
 * 3. Style
 */
.uk-table {
  /* 1 */
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  margin-bottom: 20px;
  background-color: var(--background-color-secondary);
}
/* Add margin if adjacent element */
* + .uk-table {
  margin-top: 20px;
}
/* Header cell
 ========================================================================== */
/*
 * 1. Style
 */
.uk-table th {
  padding: 16px 12px;
  text-align: left;
  vertical-align: bottom;
  /* 1 */
  font-size: 0.875rem;
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
}
/* Cell
 ========================================================================== */
.uk-table td {
  padding: 16px 12px;
  vertical-align: top;
}
/*
 * Remove margin from the last-child
 */
.uk-table td > :last-child {
  margin-bottom: 0;
}
/* Footer
 ========================================================================== */
.uk-table tfoot {
  font-size: 0.875rem;
}
/* Caption
 ========================================================================== */
.uk-table caption {
  font-size: 0.875rem;
  text-align: left;
  color: #999;
}
/* Alignment modifier
 ========================================================================== */
.uk-table-middle,
.uk-table-middle td {
  vertical-align: middle !important;
}
.uk-table-middle th {
  vertical-align: middle !important;
}
/* Style modifiers
 ========================================================================== */
/*
 * Divider
 */
.uk-table-divider > tr:not(:first-child),
.uk-table-divider > :not(:first-child) > tr,
.uk-table-divider > :first-child > tr:not(:first-child) {
  border-top: 1px solid #e5e5e5;
}
/*
 * Striped
 */
.uk-table-striped > tr:nth-of-type(odd),
.uk-table-striped tbody tr:nth-of-type(odd) {
  background: #f8f8f8;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/*
 * Hover
 */
.uk-table-hover > tr:hover,
.uk-table-hover tbody tr:hover {
  background: #ffd;
}
/* Active state
 ========================================================================== */
.uk-table > tr.uk-active,
.uk-table tbody tr.uk-active {
  background: #ffd;
}
/* Size modifier
 ========================================================================== */
.uk-table-small th,
.uk-table-small td {
  padding: 10px 12px;
}
.uk-table-large th,
.uk-table-large td {
  padding: 22px 12px;
}
/* Justify modifier
 ========================================================================== */
.uk-table-justify th:first-child,
.uk-table-justify td:first-child {
  padding-left: 0;
}
.uk-table-justify th:last-child,
.uk-table-justify td:last-child {
  padding-right: 0;
}
/* Cell size modifier
 ========================================================================== */
.uk-table-shrink {
  width: 1px;
}
.uk-table-expand {
  min-width: 150px;
}
/* Cell link modifier
 ========================================================================== */
/*
 * Does not work with `uk-table-justify` at the moment
 */
.uk-table-link {
  padding: 0 !important;
}
.uk-table-link > a {
  display: block;
  padding: 16px 12px;
}
.uk-table-small .uk-table-link > a {
  padding: 10px 12px;
}
/* Responsive table
 ========================================================================== */
/* Phone landscape and smaller */
@media (max-width: 959px) {
  .uk-table-responsive,
  .uk-table-responsive tbody,
  .uk-table-responsive th,
  .uk-table-responsive td,
  .uk-table-responsive tr {
    display: block;
  }
  .uk-table-responsive thead {
    display: none;
  }
  .uk-table-responsive th,
  .uk-table-responsive td {
    width: auto !important;
    max-width: none !important;
    min-width: 0 !important;
    overflow: visible !important;
    white-space: normal !important;
  }
  .uk-table-responsive th:not(:first-child):not(.uk-table-link),
  .uk-table-responsive td:not(:first-child):not(.uk-table-link),
  .uk-table-responsive .uk-table-link:not(:first-child) > a {
    padding-top: 5px !important;
  }
  .uk-table-responsive th:not(:last-child):not(.uk-table-link),
  .uk-table-responsive td:not(:last-child):not(.uk-table-link),
  .uk-table-responsive .uk-table-link:not(:last-child) > a {
    padding-bottom: 5px !important;
  }
  .uk-table-justify.uk-table-responsive th,
  .uk-table-justify.uk-table-responsive td {
    padding-left: 0;
    padding-right: 0;
  }

  .uk-tabs-container .tabs {
    justify-content: start !important;
  }
}
.uk-table tbody tr {
  transition: background-color 0.1s linear;
}

/* Wrap modifiers
 ========================================================================== */
/*
 * Prevent text from wrapping onto multiple lines
 */
.uk-text-nowrap {
  white-space: nowrap;
}
/*
 * 1. Make sure a max-width is set after which truncation can occur
 * 2. Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
 * 3. Fix for table cells
 */
.uk-text-truncate {
  /* 1 */
  max-width: 100%;
  /* 2 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 2 */
th.uk-text-truncate,
td.uk-text-truncate {
  max-width: 0;
}

/* End of import from UIkit.css file */

table, td, th {
    border: 1px solid #adadad;
}

.res-width {
  word-wrap: break-word;
}

.border-left-hidden {
    border-left: hidden;
}

.border-right-hidden {
    border-right: hidden;
}

.border-left-right-hidden {
    border-right: hidden;
    border-left: hidden;
}

.border-bottom-left-right-hidden {
    border-right: hidden;
    border-bottom: hidden;
    border-left: hidden;
}

.reddish {
    color: var(--table-title-color);
}

.orange {
    color: var(--link-color);
}

a {
    font-style: italic;
    text-decoration: none !important;
    color: var(--link-color) !important;
}



.uk-table th {
    padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 1rem;
    font-weight: bold;
    color: var(--table-title-color);
    text-transform: capitalize;
}

.uk-table td {
  color: var(--body-color-secondary);
}

.uk-tabs-container .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: start;
    gap: 24px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab,
.tab-button {
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    text-align: center;
    vertical-align: bottom;
    font-size: 16px;
    background-color: var(--inactive-tab-color);
    color: var(--inactive-tab-text-color);
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    border-radius: var(--tab-radius);
    box-shadow: var(--tab-box-shadow);
    width: 150px;
    height: 100%;
    box-sizing: border-box;
}

.tab.active-tab,
.tab-button.active-option,
.option.active-option {
    background-color: var(--active-tab-color);
    color: var(--active-tab-text-color);
    box-shadow: var(--tab-box-shadow);
}

.tab-content,
.option-content {
  display: none;
  border: none;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  opacity: 0;
}

.tab-content.active-tab,
.option-content.active-option {
  display: table;
  opacity: 1;
}

.highlight {
  color: var(--active-tab-color);
}

th, td {
  vertical-align: middle !important;
}

td {
  animation: slideInBottom var(--transition-duration) ease-in-out forwards;
}

td ul {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3.highlight {
    margin-top: 16px;
    padding-top: 0;
}

.view-in-chapter-highlight {
    color: var(--body-color-secondary);
}

.duration {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nested-list {
  list-style: none;
  padding-left: 0;
}

.th-no-highlight {
  color: var(--body-color-secondary) !important;
  font-weight: 400 !important;
}

.uk-list {
    padding-left: 24px;
    list-style: none;
}

.uk-list.togglers-list {
    padding-left: 0;
}

.uk-paragraph {
  position: relative;
  text-indent: 1em;
  margin: 16px 0;
}

.uk-paragraph::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  height: 32px;
  width: 8px;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.uk-list-title,
.custom-table-title {
    position: relative;
    padding-left: 24px;
}

.uk-list-title::before,
.custom-table-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 32px;
  width: 8px;
  border-radius: 4px;
}

.uk-list-title::before {
    top: -2px;
    background-color: var(--list-title-color);
}

.custom-table-title::before {
    background-color: var(--green-color);
}

/* Togglers */
.toggle-title {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
  padding: 14px 0;
}

.chevron-up {
    transform: rotate(-180deg);
    transition: transform var(--transition-duration) ease-in-out;
    font-size: 24px;
}

.chevron-up.active {
    transform: rotate(0);
    transition: transform var(--transition-duration) ease-in-out;
}

.item {
  max-height: 0;
  overflow: hidden;
  transition: max-height 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item.active {
  max-height: 5000px;
  transition: max-height 800ms cubic-bezier(0.4, 0, 1, 1);
}